@page "/singlepersons"

@inject HttpClient Http

<PageTitle>Single Persons</PageTitle>

<h1>Single Persons</h1>

@if (singlePersons == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Town</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var singlePerson in singlePersons)
            {
                <tr>
                    <td>@singlePerson.Name</td>
                    <td>@singlePerson.Town</td>
                    <td>@singlePerson.Age</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<SinglePerson>? singlePersons;

    protected override async Task OnInitializedAsync()
    {
        singlePersons = await Http.GetFromJsonAsync<List<SinglePerson>>("api/getsinglepersons");
    }

    public class SinglePerson
    {
        public string Id { get; set; } = Guid.NewGuid().ToString();
        public string Name { get; set; } = string.Empty;
        public string Town { get; set; } = string.Empty;
        public int Age { get; set; }
    }
}
